---
Language: ObjC
BasedOnStyle: LLVM
ColumnLimit: 130
IndentWidth: 4
DerivePointerAlignment: false
AlignAfterOpenBracket: DontAlign
PointerAlignment: Left
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
IndentCaseLabels: true
---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 130
FixNamespaceComments: true
IndentWidth: 4
DerivePointerAlignment: false
AlignAfterOpenBracket: DontAlign
PointerAlignment: Left
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AccessModifierOffset: -2
